<%- include("partials/header") -%>


<body class="green-theme">
  <img class="bubble" src="images/greenThemeCircle.png">

  <%- include("partials/navbar") -%>



  <!-- Arrival Section -->
  <div class="dark">
    <div class="container-fluid">
      <div class="header">
        <h1 class="header-title">Welcome</h1>
        <p class="header-paragraph">Hope you enjoy your visit!</p>
      </div>
    </div>
  </div>

  <!-- Details section -->
  <div class="light">
    <div class="container-fluid">
      <div class="section">
        <div class="description">
          <img class="section-img" src="images/travel.png" alt="travel-img">
          <h2>Hello</h2>
          <p>I'm Benjamin Lefebvre, a French Canadian living in Toronto. Graduate in Advertising and Marketing Communication, and back to school to become a Software Engineer, I offer you a complete solution to reach your goals. </p>
        </div>

        <hr>

        <h2>My Skills</h2>
        <div class="row">
          <div class="col-md-6 padding">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title"><i class="fas fa-code"></i> Coding</h3>
                <p class="card-text">I began learning to code when I was in high school. It started from a challenge between friends for a science fair project, and it became a passion.</p>
                <a href="about.html" target="_blank" class="btn btn-primary btn-light">Learn more...</a>
              </div>
            </div>
          </div>

          <div class="col-md-6 padding">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title"><i class="fas fa-drafting-compass"></i> UI Design</h3>
                <p class="card-text">Graphic design has always fascinated me! My mom used to work as a graphic designer for a newspaper when I was a child and would challenge me to create original advertising using photoshop. A few years later, I started mastering UI throughout school and practice. </p>
                <a href="about.html" target="_blank" class="btn btn-primary btn-light">Learn more...</a>
              </div>
            </div>
          </div>

          <div class="col-md-6 padding">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title"><i class="fas fa-bullhorn"></i> Marketing</h3>
                <p class="card-text">In our current digital era, everyone needs to keep their image clean. From personal life to business, selling a service, expertise, or product is not effortless. For this reason, I decided to learn more about Advertising and Marketing Communication in College. </p>
                  <a href="about.html" target="_blank" class="btn btn-primary btn-light">Learn more...</a>

              </div>
            </div>
          </div>

          <div class="col-md-6 padding">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title"><i class="fas fa-gem"></i> Branding</h3>
                <p class="card-text">I simply love branding. Branding is the promotion of a particular product or company using advertising and distinctive design. In other words, branding is about creating a unique brand image through the use of design elements mixed with marketing to increase brand awareness.</p>
                <a href="about.html" target="_blank" class="btn btn-primary btn-light">Learn more...</a>

              </div>
            </div>
          </div>

          <div class="col padding">
            <a class="btn btn-dark btn-lg btn-portolio" href="portfolio.html">SEE PORTFOLIO</a>
          </div>
        </div>
      </div>
    </div>

<%- include("partials/contactSection") -%>
<%- include("partials/footer") -%>

