<%- include("partials/header") -%>

<body class="rose-theme">
  <img class="bubble" src="images/pinkThemeCircle.png">

  <%- include("partials/navbar") -%>


  <!-- Arrival Section -->
  <div class="dark">
    <div class="container-fluid">
      <div class="header">
        <h1 class="header-title">Portfolio</h1>
        <p class="header-paragraph">Access all my recent work done!</p>
      </div>
    </div>
  </div>


  <!-- Project Section -->
  <div class="light">
    <div class="container-fluid">
      <div class="section">
        <div class="row">

          <div class="col-md-4 col-sm-6 padding">
            <div class="card">
              <img class="card-img-top" src="images/BootCamp-Presentation-Page.png" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title">I'm Benjamin</h3>
                <p class="card-text">This responsive website Page was built during a coding Bootcamp to present my skills.</p>
                <p><span class="badge badge-secondary">HTML</span> <span class="badge badge-info">CSS</span> <span class="badge badge-success">Bootstrap</span></p>
                <a href="https://bengeel.github.io/presentationWebsite/" target="_blank" class="btn btn-primary btn-light">Visit Website</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 padding">
            <div class="card">
              <img class="card-img-top" src="images/tindog.png" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title">TinDog</h3>
                <p class="card-text">This website was created during a coding Bootcamp to promote a fictional dating app for dogs. It also includes mobile responsiveness.</p>
                <p><span class="badge badge-secondary">HTML</span> <span class="badge badge-info">CSS</span> <span class="badge badge-success">Bootstrap</span></p>
                <a href="https://bengeel.github.io/tindog/" target="_blank" class="btn btn-primary btn-light">Visit Website</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 padding">
            <div class="card">
              <img class="card-img-top" src="images/ProjectWebsiteThumbnail.png" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title">School Project</h3>
                <p class="card-text">This Website page brings you to the step I went through to build the first version of my Portfolio from scratch with HTML and CSS only. It includes the research process and design creation with Figma.</p>
                <p><span class="badge badge-secondary">HTML</span> <span class="badge badge-info">CSS</span> <span class="badge badge-warning">Design</span></p>
                <a href="https://bengeel.github.io/portfolio/" target="_blank" class="btn btn-primary btn-light">Visit Website</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 padding">
            <div class="card">
              <img class="card-img-top" src="images/calculator.png" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title">BMR Calculator</h3>
                <p class="card-text">This calculator will help you fix your goal in daily calories intake. Stay in your current shape by filling out the form and following the recommendation.</p>
                <p><span class="badge badge-secondary">HTML</span> <span class="badge badge-info">CSS</span> <span class="badge badge-light">JavaScript</span></p>
                <a href="https://bengeel.github.io/BMRcalculator/" target="_blank" class="btn btn-primary btn-light">Visit Website</a>
              </div>
            </div>
          </div>
          
           <div class="col-md-4 col-sm-6 padding">
            <div class="card">
              <img class="card-img-top" src="images/bugsmasher.png" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title">Bug Smasher</h3>
                <p class="card-text">This Javascript game aimed to improve website position by generating a bug randomly to smash on a Canvas. This is part of a school project.</p>
                <p><span class="badge badge-secondary">HTML</span> <span class="badge badge-info">CSS</span> <span class="badge badge-light">JavaScript</span></p>
                <a href="https://bengeel.github.io/BugSmasher/" target="_blank" class="btn btn-primary btn-light">Visit Website</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <%- include("partials/contactSection") -%>

<%- include("partials/footer") -%>
