<%- include("partials/header") -%>

<body class="rose-theme">
  <div class="outer-circle">
    <span class="circle pink"></span>
  </div>
  

  <%- include("partials/navbar") -%>


  <!-- Arrival Section -->
  <div class="dark">
    <div class="container-fluid">    
      <div class="header">
        <h1 class="header-title">Portfolio</h1>
        <p class="header-paragraph">Access all my recent work done!</p>
      </div>
    </div>
  </div>


  <!-- Project Section -->
  <div class="light">
    <div class="container-fluid">
      <div class="section">
        <div class="row">

          <div class="col-md-4 col-sm-6 padding">
            <div class="card">
              <img class="card-img-top" src="images/todolist.webp" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title">Todo List App</h3>
                <p class="card-text">This website can handle multiple checklists based on the checklist name indicated in the URL root.</p>
                <p><span class="badge badge-secondary">HTML / EJS</span> <span class="badge badge-info">CSS</span> <span class="badge badge-light">JavaScript / Node.JS</span></p>
                <a href="https://todolistejsnode.herokuapp.com/" target="_blank" class="btn btn-primary btn-light">Visit Website</a>
                <a href="https://github.com/BengeeL/TodoListNodeJS.git" target="_blank" class="btn btn-primary btn-light">Visit GitHub</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 padding">
            <div class="card">
              <img class="card-img-top" src="images/secretapp.webp" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title">Secret App</h3>
                <p class="card-text">OAuth2.0 implementation to a website to allow registered users to share anonymously their deepest secrets.</p>
                <p><span class="badge badge-secondary">HTML / EJS</span> <span class="badge badge-info">CSS</span> <span class="badge badge-light">JavaScript / Node.JS</span></p>
                <a href="https://secretappid.herokuapp.com/" target="_blank" class="btn btn-primary btn-light">Visit Website</a>
                <a href="https://github.com/BengeeL/secretApp.git" target="_blank" class="btn btn-primary btn-light">Visit GitHub</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 padding">
            <div class="card">
              <img class="card-img-top" src="images/keeperapp.webp" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title">Keeper Note App</h3>
                <p class="card-text">React app able to take memo notes.</p>
                <p><span class="badge badge-secondary">HTML</span> <span class="badge badge-info">CSS</span> <span class="badge badge-warning">React</span></p>
                <a href="https://codesandbox.io/s/using-pre-built-react-components-forked-woht78?file=/src/components/App.jsx" target="_blank" class="btn btn-primary btn-light">Visit Sandbox</a>
              </div>
            </div>
          </div>


          <div class="col-md-4 col-sm-6 padding">
            <div class="card">
              <img class="card-img-top" src="images/BootCamp-Presentation-Page.webp" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title">I'm Benjamin</h3>
                <p class="card-text">Statics HTML page built using Bootstrap to present myself.</p>
                <p><span class="badge badge-secondary">HTML</span> <span class="badge badge-info">CSS</span> <span class="badge badge-success">Bootstrap</span></p>
                <a href="https://bengeel.github.io/presentationWebsite/" target="_blank" class="btn btn-primary btn-light">Visit Website</a>
                <a href="https://github.com/BengeeL/presentationWebsite.git" target="_blank" class="btn btn-primary btn-light">Visit GitHub</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 padding">
            <div class="card">
              <img class="card-img-top" src="images/tindog.webp" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title">TinDog</h3>
                <p class="card-text">Fictif social media platform website built to promote a dating app for dogs. It also includes mobile responsiveness.</p>
                <p><span class="badge badge-secondary">HTML</span> <span class="badge badge-info">CSS</span> <span class="badge badge-success">Bootstrap</span></p>
                <a href="https://bengeel.github.io/tindog/" target="_blank" class="btn btn-primary btn-light">Visit Website</a>
                <a href="https://github.com/BengeeL/tindog.git" target="_blank" class="btn btn-primary btn-light">Visit GitHub</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 padding">
            <div class="card">
              <img class="card-img-top" src="images/calculator.webp" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title">BMR Calculator</h3>
                <p class="card-text">This calculator will help you fix your goal in daily calorie intake. Stay in your current shape by filling out the form and following the recommendation.</p>
                <p><span class="badge badge-secondary">HTML</span> <span class="badge badge-info">CSS</span> <span class="badge badge-light">JavaScript</span></p>
                <a href="https://bengeel.github.io/BMRcalculator/" target="_blank" class="btn btn-primary btn-light">Visit Website</a>
              </div>
            </div>
          </div>
          
           <div class="col-md-4 col-sm-6 padding">
            <div class="card">
              <img class="card-img-top" src="images/bugsmasher.webp" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title">Bug Smasher</h3>
                <p class="card-text">This Javascript game aimed to improve website position by generating a bug randomly to smash on a Canvas.</p>
                <p><span class="badge badge-secondary">HTML</span> <span class="badge badge-info">CSS</span> <span class="badge badge-light">JavaScript</span></p>
                <a href="https://bengeel.github.io/BugSmasher/" target="_blank" class="btn btn-primary btn-light">Visit Website</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <%- include("partials/contactSection") -%>

<%- include("partials/footer") -%>
