Why learn React in 2022
<div style="text-align: center; width: 100%; margin-bottom: 3%;">
    <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/242px-React-icon.svg.png'/>
</div>

<p>
    Are you new to coding or perhaps trying to expand your knowledge? You might want to consider learning to use React, a #1 skill in Front End development. Let's go through what React is, why you should know it and if you are sold on it, let me tell you where and how you can learn it!
</p>

<h2>What is React?</h2>
<p>
    Created in 2013, React is an open-source JavaScript library supported by Meta and other individuals. React allows building smaller UI components in JavaScript to be used in different places of a website.
</p>

<h2>Reasons why you should learn React</h2>

<h3>Easy to learn</h3>
<p>Since React is easy to learn, acquiring the knowledge will not take long.</p>
<p>For sure, you will need to have a minimum of JavaScript knowledge before jumping on your learning journey. Still, once that's done, only a few weeks, and you will be able to start building your first web applications.</p>

<h3>Flexible and efficient</h3>
<p>React will help you save time, space and money. </p>
<p>Since this JavaScript library was built around components, it is effortless to reuse a piece of code in different places, cutting coding time. For the same reason, your code will be cleaner, and your file will use less storage.</p>
<p>Saving time allows higher productivity and income, while saving storage allows trimming costs.</p>

<h3>Demand for the skill keeps increasing</h3>
<p>With higher demand for a skill, a higher wage often come attached.</p>
<p>Multiple companies worldwide are starting to request Front End Engineers to know how to code using React. Therefore, even if you need to invest a few dollars in a React course, you are almost guaranteed to find well-paid work.</p>

<h3>Supported by Meta</h3>
<p>React is regularly maintained, and issues are fixed quickly by some of the best engineers.</p>
<p>Thanks to Meta, one of the most valuable tech companies in the world, and the owner of Facebook, Instagram, What's App, and more, React is a library with a lot of support.</p>

<h2>Where to learn React</h2>
<p>Depending on your budget, time, and knowledge, there are different ways of learning React.</p>
<h3>Udemy</h3>
<p>While Udemy charges a fee to buy a course, multiple good quality courses are offered and often go on promotions. These courses come with a Udemy certificate at the end, and professionals usually build them. For instance, <a href="https://www.udemy.com/course/react-the-complete-guide-incl-redux/">React - The Complete Guide</a> includes everything you need to know with React and has over 4.5 stars and 150 000 reviews.</p>
<h3>Youtube</h3>
<p>A great free option to learn React and help you build your portfolio. However, it will need more research on the contents and what to learn. You also won't receive any certification to show to a potential employer. </p>



<p>
    &emsp;Never have I ever been proudest before the day I finished a prerecorded class. 
    It wasn't the first time that I had followed an online class. Since Covid, all universities
     have been offering online delivery. Some were scheduled with a live teacher, while some 
     others were pre-recorded but had deadlines and a teacher to grade all our projects. 
     However, my Udemy Bootcamp was different. Everything was pre-recorded, and nobody was 
     giving my deadline and evaluations. I was in total control of my learning which I 
     think was better, in the end, to save cost, to learn at my own rhythm, and to
      improve my own sense of accomplishment.
</p>

<p>&emsp;First, it is nothing new. Learning with Udemy comes at a cost, but this cost is a LOT cheaper than studying in any college or university. The course that I took, <a href=“https://www.udemy.com/course/the-complete-web-development-bootcamp/”>The Complete 2022 Web Development Bootcamp</a>, cost about 120$ and is worth maybe around 2400$ in a college in Ontario considering each course are around 400$ and you would need to take something like; Introduction to Web Programming, Introduction to JavaScript, Web App Development, Database I, Database 2, Unix-Linux Commands. Yet, due to Udemy’s frequent promotions, I got the course for a total price of 32.18$ including taxes. <br>
&emsp;Now the only thing I was scared of was being scammed with content that would not teach me anything like all to a Youtube tutorial saying I would become an expert in coding a Netflix clone in 3h hours. Despite that, I started the journey and watched over 500 videos step by step and did every single challenge that was given by the Instructor Dr. Angela Yu. I can guarantee that in the end, it was worth it.</p>

<p>&emsp;Further in the journey, after much effort put into it, I started to see my schedule getting busier with college and work. I was also moving to Toronto from Montreal, which suspended my learning progress around halfway through it. I was hard on myself, thinking I would never finish it and always finding an excuse not to do it. One thing that I learned from it is that it takes a lot of discipline and motivation to go through a course of 65 hours of content because those 65 hours are probably more like 150 hours if you include all the challenges, exercise, and research on outdated content (Yes! The content of the course is not all up to date. Coding change all the time, 3rd party apps also change). <br>
&emsp;One winter day after the move was completed and school was on winter Holidays; I decided it was time to finish it. I gave it a big go and went through as much content as possible. I would download videos and go to the park to watch them and code along. I was progressing quickly, and I loved the potential to go faster than school since I was fully in control of the teaching. No teacher could stop me from following the fixed schedule, and I couldn’t be happier since I was motivated. Still, the winter break wasn’t long enough, and school was reopening with an even busier schedule and more projects to do. Therefore, the Bootcamp took a hit and was back on pause for the next few months until summer. <br>
&emsp;You might realize that without school, it would have taken me a few months to finish and start looking for a junior position while practising interview questions on Leetcode, and you are right. Although, I did have some side learning with the school on project management and workflow, which are not really taught in the Bootcamp and are still crucial in developing a website or software. </p>

