<%- include("partials/header") -%>


<body class="blue-theme">
  <div class="outer-circle">
    <span class="circle bleu"></span>
  </div>
  <%- include("partials/navbar") -%>



  <!-- Arrival Section -->
  <div class="dark">
    <div class="container-fluid">
      <div class="header">
        <h1 class="header-title">Resume</h1>
        <p class="header-paragraph">Software Engineer Student<br>with a Marketing Degree</p>
      </div>
    </div>
  </div>

  <!-- Resume Section -->
  <div class="light">
    <div class="container-fluid">
      <div class="section">

        <!-- Heading -->
        <div class="row">
          <div class="col-md-2">
            <a href="https://drive.google.com/file/d/15c5pAf9rDcayQce-4wDUOAu5qFpB-t-o/view?usp=sharing" target="_blank"><div class="btn btn-dark">View PDF</div></a>
          </div>

          <div class="col-md-10">
            <h1 class="resume-name">BENJAMIN LEFEBVRE</h3>
            <h2 class="resume-title">Software Engineering Technology Advanced Diploma</h4>
            <p class="resume-intro"><strong>Testing Support | Agile Experience | Consumer Focus</strong><br>
              Enthusiastic about utilizing my skillset to work on complex challenges as a collaborative team member who adapts quickly.
            </p>
            <p class="resume-language">(Also fluent in French)</p>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-4 vline tline">
            <br>
            <h3 class="headings-resume">EDUCATION</h3>
            <h4 class="sub-title-resume">Software Engineering Technology</h4>
            <p class="p-resume">Centennial College <br>Sept 2021 - May 2024</p>
            <p class="p-resume"><em>Currently maintaining a GPA of 4.425/4.5</em></p>
            <br>
            <h4 class="sub-title-resume">Advertising & Marketing Communication</h4>
            <p class="p-resume">La Cité Collégial <br>Sept 2016 - May 2018</p>
            <p class="p-resume"><em>Graduated with a GPA of 3.789/4.3</em></p>

            <br>
            <h3 class="headings-resume">COURSES</h3>
            <h4 class="sub-title-resume">The Complete 2022 Web Development Bootcamp</h4>
            <p class="p-resume">Udemy <br>July 2022</p>
            <br>
            <h4 class="sub-title-resume">Programming Foundations: Conducting Code Reviews</h4>
            <p class="p-resume">LinkedIn Learning<br>Nov 2021</p>

            <br>
            <h3 class="headings-resume">WORK EXPERIENCE</h3>
            <h4 class="sub-title-resume">Full Stack Freelancer</h4>
            <p class="p-resume">Web Development <br>Sept 2021 - Current</p>
            <br>
            <h4 class="sub-title-resume">Hospitality Industry</h4>
            <p class="p-resume">Server/Bartender <br>April 2016 - Current</p>
            <br>
            <h4 class="sub-title-resume">Hybrid Fraud/Collection Agent</h4>
            <p class="p-resume">Inbound/Outbound<br>Jan 2020 - May 2021</p>
          </div>

          <div class="col-md-8 tline">
            <br>
            <h3 class="headings-resume">SKILLS</h3>
            <div class="row">
              <div class="col-md-4">
                <ul class="p-resume">
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>Javascript</li>
                  <li>Python</li>
                  <li>SQL</li>
                  <li>NoSQL</li>
                  <li>C#</li>
                  <li>Swift</li>
                  <li>Shell Script</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="p-resume">
                  <li>Node.JS</li>
                  <li>Express.JS</li>
                  <li>React.JS</li>
                  <li>MongoDB</li>
                  <li>Bootstrap</li>
                  <li>jQuery</li>
                  <li>EJS</li>
                  <li>OAuth2.0</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="p-resume">
                  <li>Github</li>
                  <li>Heroku</li>
                  <li>Firebase</li>
                  <li>MongoDB Atlas</li>
                  <li>Google Domains</li>
                  <li>Mailchimp</li>
                  <li>Nodemailer</li>
                </ul>
              </div>
            </div>

            <br>
            <h3 class="headings-resume">PROJECTS</h3>
            <h4 class="sub-title-resume"><a href="benjaminlefebvre.dev" class="link-resume">Portfolio</a></h4>
            <p class="p-resume">
              <ul class="p-resume">
                <li>Use <strong>EJS</strong> templating to simplify the code into smaller components</li>
                <li>Use <strong>Node.JS</strong> to control server requests. For instance, for the “Contact Me” section, <strong>Nodemailer</strong> is used to send visitors' email requests.</li>
                <li>Use <strong>Google Domain</strong> and <strong>Firebase</strong> (Host and Function) to host the portfolio and control the back end.</li>
              </ul>
            </p>
            <h4 class="sub-title-resume"><a href="benjaminlefebvre.dev/blog" class="link-resume">Blog</a></h4>
            <p class="p-resume">
              <ul class="p-resume">
                <li>Use <strong>EJS</strong> templating to simplify the code into smaller components.</li>
                <li>Use <strong>MongoDB Atlas</strong> Atlas for the database allowing the storage of all posts for the blog.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/contactSection") -%>

  <%- include("partials/footer") -%>
