<div class="dark">
    <div class="container-fluid">
      <div class="section">
        <div class="row">
          <div class="col-md-8">
            <h2>Get In Touch</h2>
            <h3>Let me know what project you have for me!</h3>
            <p class="contact-message">I will assist you in promoting your product and/or service, or I will code and design our new platform.</p>
            <br>
            <a class="btn btn-dark btn-lg" href="/contact">CONTACT ME</a>
          </div>
          <div class="col-md-4 description">
            <img class="contact-img" src="/images/benjamin.png" alt="">
          </div>
        </div>
      </div>
    </div>
</div>
